<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.mixail_akulov.a37_navigationactivity2">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.37_NavigationActivity2"
        tools:targetApi="31">

        <activity
            android:name="ru.mixail_akulov.a37_navigationactivity2.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.mixail_akulov.a37_navigationactivity2.BoxActivity"
            android:label="@string/box"
            android:parentActivityName="ru.mixail_akulov.a37_navigationactivity2.BoxSelectionActivity" />
        <activity
            android:name="ru.mixail_akulov.a37_navigationactivity2.OptionsActivity"
            android:label="@string/options"
            android:parentActivityName="ru.mixail_akulov.a37_navigationactivity2.MainActivity" />
        <activity
            android:name="ru.mixail_akulov.a37_navigationactivity2.BoxSelectionActivity"
            android:label="@string/select_box"
            android:parentActivityName="ru.mixail_akulov.a37_navigationactivity2.MainActivity" />
        <activity
            android:name="ru.mixail_akulov.a37_navigationactivity2.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="ru.mixail_akulov.a37_navigationactivity2.MainActivity" />
    </application>

</manifest>